<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>My Photo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 text-left" style="padding: 10px">
                <button class="btn btn-default" ng-click="changePicture()" translate="My Photo.Change Picture">Change picture</button>
                <button class="btn btn-default" ng-click="removePicture()" translate="My Photo.Remove Picture">Remove picture</button>
                <button class="btn btn-default" ng-click="sharePicture()" translate="My Photo.Share and get votes">Share and get votes</button>
            </div>
            <div class="col-sm-4 text-right" style="padding: 10px">
                {{ photo.votes }}<span class="glyphicon glyphicon-heart"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail">
                    <img src="" ng-src="{{ photo.path }}" class="img-responsive" id="photoUpload">
                </div>
            </div>
        </div>
    </div>
</div>