<div class="row" ng-if="!currentPhoto">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="circleBase type1 icon icon-picture" style="margin:0 auto;font-size: 2.9em;color:#035A8F"></div>
                <div style="text-align: center;color:#035A8F;font-size:2em">
                    {{ title }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="javascript:void(0)" ng-click="previousPage()" style="float:left" ng-hide="!response.prev_page_url" class="button-left">
                    <span class="icon icon-left" style="font-size: 2em;cursor:pointer" style="float:left" ng-hide="!response.next_page_url"></span>
                </a>
                <a href="javascript:void(0)" ng-click="nextPage()" style="float:right" ng-hide="!response.next_page_url" class="button-right">
                    <span class="icon icon-right" style="font-size: 2em;cursor:pointer" style="float:right" ng-hide="!response.next_page_url"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div deckgrid class="deckgrid" source="response.data">
                    <div class="photo">
                        <a href="" data-ng-click="mother.previewPhoto(card)">
                            <div class="photo-wrapper" style="text-align: center;">
                                <img src="" data-ng-src="{{card.path}}" class="img-responsive" style="margin: 0 auto">
                            </div>
                        </a>
                            <div class="photo-info">
                                <h5>{{card.user.name}}</h5>
                            </div>
                            <div class="photo-actions">
                                <span style="float:left;padding-left:10px">
                                    {{ card.votes_count.aggregate || 0}}
                                    <span class="icon icon-heart" style="color: red" ng-show="card.votes_count.aggregate > 0"></span>
                                    <span class="icon icon-heart" ng-hide="card.votes_count.aggregate > 0"></span>
                                </span>
                                <span style="float:right;padding-right:10px">
                                    <span class="icon icon-check-mark" style="cursor: pointer;color:#5ABC35" ng-click="mother.votePhoto(card)"></span>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="currentPhoto">
    <view-photo photo="currentPhoto" on-close="hideCurrentPhoto()" next="nextPhoto()" prev="previousPhoto()" vote="votePhoto(currentPhoto)"></view-photo>
</div>

<div class="row" ng-if="friendsAccessError">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">
                    <a href="javascript:void(0)" ng-click="getFriendsScope()" translate="My Photo.Could not get access to facebook photos">
                        Could not get access to facebook photos
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="anyError">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">
                    <span translate="My Photo.Any Error">
                        Any Error
                    </span>
                </h4>
            </div>
        </div>
    </div>
</div>

<style>
    .photo .photo-info{
        text-align: center;
    }
    .photo .photo-actions{
        text-align: right;
        padding-bottom: 5px;
    }
</style>