<div class="row">
    <div class="col-sm-6 text-center" translate="My Photo.Upload from Facebook">
        Upload from Facebook
    </div>
    <div class="col-sm-6 text-center" translate="My Photo.Upload from PC">
        Upload from PC
    </div>
</div>

<div class="row">
    <div class="col-sm-12" flow-init flow-file-added="test($file)" flow-name="obj.flow">

        <h3 class="text-center">
            <a name="image-example" class="anchor" href="#image-example">
                <span class="octicon octicon-link"></span>
            </a>
            <span translate="My Photo.Upload from PC">Upload from PC</span>
        </h3>

        <div class="thumbnail ng-hide" ng-show="$flow.files.length">
            <img flow-img="$flow.files[0]" class="img-responsive" id="photoUpload">
        </div>

        <div class="text-center" style="margin-top: 30px">
            <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn="" translate="My Photo.Select image">
                Select image
                <input style="visibility: hidden; position: absolute;" type="file">
            </span>

            <span class="btn btn-success ng-hide" ng-show="$flow.files.length" ng-click="savePhoto()" translate="My Photo.Save Photo">
                Save Photo
            </span>

            <span class="btn btn-danger ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()" translate="My Photo.Remove">
                Remove
            </span>
        </div>

            <div class="text-center" style="margin-top: 30px" translate="My Photo.Only PNG,GIF,JPG,JEPG files allowed">
            Only PNG,GIF,JPG,JEPG files allowed.
        </div>

    </div>
</div>