<div class="row" ng-if="!action">
    <div class="col-sm-6 text-center">
        <a href="javascript:void(0)" ng-click="setAction('UPLOAD_FACEBOOK')" translate="My Photo.Upload from Facebook">Upload from Facebook</a>
    </div>
    <div class="col-sm-6 text-center">
        <a href="javascript:void(0)" ng-click="setAction('UPLOAD_PC')" translate="My Photo.Upload from PC">Upload from PC</a>
    </div>
</div>

<div class="row" ng-if="action=='UPLOAD_PC'">
    <div class="col-sm-12" flow-init flow-name="obj.flow">

        <h3 class="text-center">
            <a name="image-example" class="anchor" href="#image-example">
                <span class="octicon octicon-link"></span>
            </a>
            <span translate="My Photo.Upload from PC">Upload from PC</span>
        </h3>

        <div class="thumbnail ng-hide" ng-show="$flow.files.length">
            <img flow-img="$flow.files[0]" class="img-responsive" id="photoUpload">
        </div>

        <div class="text-center" style="margin-top: 30px">
            <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn="" translate="My Photo.Select image">
                Select image
                <input style="visibility: hidden; position: absolute;" type="file">
            </span>

            <span class="btn btn-success ng-hide" ng-show="$flow.files.length" ng-click="savePhoto($flow.files[0])" translate="My Photo.Save Photo">
                Save Photo
            </span>

            <span class="btn btn-danger ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()" translate="My Photo.Remove">
                Remove
            </span>
        </div>

            <div class="text-center" style="margin-top: 30px" translate="My Photo.Only PNG,JPG,JPEG files allowed">
            Only PNG,JPG,JEPG files allowed.
        </div>

    </div>
</div>

<div class="row" ng-if="photosAccessError">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">
                    <a href="javascript:void(0)" ng-click="getPhotosScope()" translate="My Photo.Could not get access to facebook photos">
                        Could not get access to facebook photos
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="anyError">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">
                    <span translate="My Photo.Any Error">
                        Any Error
                    </span>
                </h4>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="/buttons-albums.html">
    <a href="javascript:void(0)" class="btn btn-default" ng-click="previousPage()" style="float:left">
        <span class="glyphicon glyphicon-backward"></span>
        <span translate="Previous Page">Previous Page</span>
    </a>
    <a href="javascript:void(0)" class="btn btn-default" ng-click="nextPage()" style="float:right">
        <span class="glyphicon glyphicon-forward"></span>
        <span translate="Next Page">Next Page</span>
    </a>
</script>

<script type="text/ng-template" id="/buttons-photos.html">
    <a href="javascript:void(0)" class="btn btn-default" ng-click="previousPagePhotos()" style="float:left;margin-right: 10px;">
        <span class="glyphicon glyphicon-backward"></span>
        <span translate="Previous Page">Previous Page</span>
    </a>
    <a href="javascript:void(0)" class="btn btn-default" ng-click="backToAlbums()" style="float:left">
        <span class="glyphicon glyphicon-backward"></span>
        <span translate="Back To Albums">Back To Albums</span>
    </a>
    <a href="javascript:void(0)" class="btn btn-default" ng-click="nextPagePhotos()" style="float:right">
        <span class="glyphicon glyphicon-forward"></span>
        <span translate="Next Page">Next Page</span>
    </a>
</script>

<div class="row" ng-if="action=='UPLOAD_FACEBOOK'">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">
                    <a name="image-example" class="anchor" href="#image-example">
                        <span class="octicon octicon-link"></span>
                    </a>
                    <span translate="My Photo.Your Facebook Albums" ng-if="!gotPhotos">
                        Your Facebook Albums
                    </span>
                    <span>
                        {{ current_album.name }}
                    </span>
                </h3>

                <div class="thumbnail ng-hide" ng-show="$flow.files.length">
                    <img class="img-responsive" id="photoUpload">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="action=='UPLOAD_FACEBOOK' && !gotPhotos">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12" ng-include="'/buttons-albums.html'"></div>
        </div>
        <div class="row">
            <div deckgrid class="deckgrid" source="albums.data">
                <div class="photo">
                    <a href="" data-ng-click="mother.getPhotosForAlbum(card)">
                        <div class="photo-wrapper">
                            <img src="" data-ng-src="{{card.picture.data.url}}">
                        </div>
                        <div class="photo-description">
                            <h5>{{card.name}}</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" ng-include="'/buttons-albums.html'"></div>
        </div>
    </div>
</div>

<div class="row" ng-if="action=='UPLOAD_FACEBOOK' && gotPhotos && !showPhotoPreview">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12" ng-include="'/buttons-photos.html'"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div deckgrid class="deckgrid" source="photos">
                    <div class="photo">
                        <a href="" data-ng-click="mother.previewPhoto(card)">
                            <div class="photo-wrapper" style="text-align: center;">
                                <img src="" data-ng-src="{{card.images[card.images.length - 1].source}}" class="img-responsive" style="margin: 0 auto">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" ng-include="'/buttons-photos.html'"></div>
        </div>
    </div>
</div>

<div class="row" ng-if="action=='UPLOAD_FACEBOOK' && gotPhotos && showPhotoPreview">
    <div class="col-sm-12">
        <div class="thumbnail">
            <img src="" ng-src="{{ facebookPhoto }}" class="img-responsive" id="photoUpload">
                <div class="text-center" style="margin-top: 30px">
                <span class="btn btn-success" ng-click="savePhotoFacebook()" translate="My Photo.Save Photo">
                    Save Photo
                </span>

                <span class="btn btn-default" ng-click="backToPhotos()" translate="My Photo.Back">
                    Back
                </span>
            </div>
        </div>
    </div>
</div>