<div class="row">
    <div class="col-sm-6 text-center">
        <a href="javascript:void(0)" ng-click="setAction('UPLOAD_FACEBOOK')" translate="My Photo.Upload from Facebook">Upload from Facebook</a>
    </div>
    <div class="col-sm-6 text-center">
        <a href="javascript:void(0)" ng-click="setAction('UPLOAD_PC')" translate="My Photo.Upload from PC">Upload from PC</a>
    </div>
</div>

<div class="row" ng-if="action=='UPLOAD_PC'">
    <div class="col-sm-12" flow-init flow-name="obj.flow">

        <h3 class="text-center">
            <a name="image-example" class="anchor" href="#image-example">
                <span class="octicon octicon-link"></span>
            </a>
            <span translate="My Photo.Upload from PC">Upload from PC</span>
        </h3>

        <div class="thumbnail ng-hide" ng-show="$flow.files.length">
            <img flow-img="$flow.files[0]" class="img-responsive" id="photoUpload">
        </div>

        <div class="text-center" style="margin-top: 30px">
            <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn="" translate="My Photo.Select image">
                Select image
                <input style="visibility: hidden; position: absolute;" type="file">
            </span>

            <span class="btn btn-success ng-hide" ng-show="$flow.files.length" ng-click="savePhoto($flow.files[0])" translate="My Photo.Save Photo">
                Save Photo
            </span>

            <span class="btn btn-danger ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()" translate="My Photo.Remove">
                Remove
            </span>
        </div>

            <div class="text-center" style="margin-top: 30px" translate="My Photo.Only PNG,JPG,JPEG files allowed">
            Only PNG,JPG,JEPG files allowed.
        </div>

    </div>
</div>

<div class="row" ng-if="photosAccessError">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">
                    <a href="javascript:void(0)" ng-click="getPhotosScope()" translate="My Photo.Could not get access to facebook photos">
                        Could not get access to facebook photos
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="anyError">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">
                    <span translate="My Photo.Any Error">
                        Any Error
                    </span>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="action=='UPLOAD_FACEBOOK'">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">
                    <a name="image-example" class="anchor" href="#image-example">
                        <span class="octicon octicon-link"></span>
                    </a>
                    <span translate="My Photo.Upload from Facebook">Upload from Facebook</span>
                </h3>

                <div class="thumbnail ng-hide" ng-show="$flow.files.length">
                    <img class="img-responsive" id="photoUpload">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="action=='UPLOAD_FACEBOOK' && !gotPhotos">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <button ng-click="nextPage()" translate="Next Page">Next Page</button>
                <button ng-click="previousPage()" translate="Previous Page">Previous Page</button>
            </div>
        </div>
        <div class="row">
            <div deckgrid class="deckgrid" source="albums.data">
                <div class="photo">
                    <a href="" data-ng-click="mother.getPhotosForAlbum(card)">
                        <div class="photo-wrapper">
                            <img src="" data-ng-src="{{card.picture.data.url}}">
                        </div>
                        <div class="photo-description">
                            <h5>{{card.name}}</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="action=='UPLOAD_FACEBOOK' && gotPhotos && !showPhotoPreview">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <button ng-click="nextPagePhotos()" translate="Next Page">Next Page</button>
                <button ng-click="previousPagePhotos()" translate="Previous Page">Previous Page</button>
                <button ng-click="backToAlbums()" translate="Back To Albums">Back To Albums</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div deckgrid class="deckgrid" source="photos">
                    <div class="photo">
                        <a href="" data-ng-click="mother.previewPhoto(card)">
                            <div class="photo-wrapper" style="text-align: center;">
                                <img src="" data-ng-src="{{card.images[card.images.length - 1].source}}" class="img-responsive" style="margin: 0 auto">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="action=='UPLOAD_FACEBOOK' && gotPhotos && showPhotoPreview">
    <div class="col-sm-12">
        <div class="thumbnail">
            <img src="" ng-src="{{ facebookPhoto }}" class="img-responsive" id="photoUpload">
        </div>

        <div class="text-center" style="margin-top: 30px">
            <span class="btn btn-success" ng-click="savePhotoFacebook()" translate="My Photo.Save Photo">
                Save Photo
            </span>

            <span class="btn btn-default" ng-click="backToPhotos()" translate="My Photo.Back">
                Back
            </span>
        </div>
    </div>
</div>

<style>
    .animation-fade {
        opacity:0;
    }

    .animation-faded {
        opacity:1;
    }

    .animation-faded {
        -webkit-transition: opacity 1s linear .2s;
        -moz-transition: opacity 1s linear .2s;
        -o-transition: opacity 1s linear .2s;
        transition: opacity 1s linear .2s;
    }

    .balloon-wrapper {
        padding-top:30px;
        opacity:1;
        text-align:center;
    }

    .balloon {
        background:#3498db;
        border-radius:50%;
        display:inline-block;
        font-size:160%;
        text-align:center;
        height:100px;
        line-height:100px;
        width:100px;
    }
    .l-header {
        margin-top:180px;
        text-align:center;
    }

    .l-navigation {
        margin-top:60px;
        text-align:center;
    }

    .l-footer {
        bottom:10px;
        position:fixed;
        right:10px;
        text-align:right;
        width:50px;
    }

    .l-footer small {
        display:block;
        font-size:60%;
        margin-bottom:5px;
        opacity:.5;
        text-align:center;
        width:100%;
    }

    .deckgrid {
        margin:0px auto;
        padding:10px;
        width:1000px;
    }

    .deckgrid[deckgrid]::before {
        content: '4 .column.size-1-4';
        font-size: 0;
        visibility:hidden;
    }

    .deckgrid .column {
        float:left;
    }

    .photo {
        background:#fff url(images/spinner.gif) center 30px no-repeat;
        border:1px solid rgba(0, 0, 0, .15);
        border-radius:3px;
        margin:0 10px 10px 0;
        position:relative;
        text-align: center;
    }

    .photo .photo-index {
        background:rgba(0, 0, 0, .9);
        color:#fff;
        position:absolute;
        height:100%;
        text-align:center;
        width:100%;
        z-index:99;
    }

    .photo .photo-index p:first-child {
        margin-top:10px;
    }

    .photo .photo-wrapper {
        min-height:60px;
        text-align: center;
    }

    .photo .photo-description {
        padding:15px;
        text-align: center;
    }

    .deckgrid .column.size-1-5 {
        width:200px;
    }

    .deckgrid .column.size-1-4 {
        width:192px;
    }

    .deckgrid .column.size-1-3 {
        width:250px;
    }

    .deckgrid .column.size-1-2 {
        width:250px;
    }

    .deckgrid .column.size-1-1 {
        width:280px;
    }

    @media screen and (max-width: 1000px) {
        .deckgrid {
            width:800px;
        }

        .deckgrid[deckgrid]::before {
            content: '4 .column.size-1-4';
        }
    }

    @media screen and (max-width: 840px) {
        .deckgrid {
            width:760px;
        }

        .deckgrid[deckgrid]::before {
            content: '3 .column.size-1-3';
        }
    }


    @media screen and (min-width: 481px) and (max-width: 768px) {
        .deckgrid {
            margin:100px auto;
            width:500px;
        }

        .deckgrid[deckgrid]::before {
            content: '2 .column.size-1-2';
        }
    }

    @media only screen and (max-device-width : 320px),
    only screen and (max-width : 480px) {

        .l-header {
            font-size:80%;
            margin-top:145px;
            padding:5px;
            text-align:center;
        }

        .deckgrid {
            width:280px;
        }

        .deckgrid[deckgrid]::before {
            content: '1 .column.size-1-1';
        }
    }
</style>