<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div>
                <button class="btn btn-default" ng-click="next()">Next</button>
                <button class="btn btn-default" ng-click="prev()">Prev</button>
                <button class="btn btn-default" ng-click="closeAction()">Close</button>
            </div>
            <div class="thumbnail">
                <img src="" ng-src="{{ photo.path }}" class="img-responsive" id="photoUpload">
            </div>
        </div>
    </div>
</div>