
<div class="container-fluid">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>{{ photo.user.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div title="Previous Photo" class="circleBase type2 icon icon-left" style="float:left" ng-click="prev()"></div>
                <div title="Next Photo" class="circleBase type2 icon icon-right" style="float:left" ng-click="next()"></div>
                <div title="Vote Photo" class="circleBase type2 icon icon-check-mark" style="float:left;color: #5ABC35" ng-click="vote()"></div>
                <div title="Share Photo" class="circleBase type2 icon icon-share" style="float:left" ng-click="share()"></div>
                <div title="Close" class="circleBase type2 icon icon-cancel" style="float:left;font-size:3em;line-height: 54px" ng-click="closeAction()"></div>
            </div>
            <div class="col-sm-5 text-right" style="font-size: 2em">
                {{ photo.votes_count.aggregate || 0}}
                <span style="margin-top:10px">
                    <span class="icon icon-heart" style="color: red" ng-if="photo.votes_count.aggregate"></span>
                    <span class="icon icon-heart" ng-if="!photo.votes_count.aggregate"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="thumbnail">
                <img src="" ng-src="{{ photo.path }}" class="img-responsive" id="photoUpload">
            </div>
        </div>
    </div>
</div>